.footer {
  align-items: center;
  display: flex;
  height: 100px;
  width: 100%;

  a {
    cursor: pointer;
    font-size: 14px;
    padding-left: 30px;
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }
}
